*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

header{
  margin:0 0 15px;
}

h1, h2 {
    color: white;
    background-color: black;
    text-align: center;
    margin: 0;
    line-height: 70px;
}

header nav {
    height: 40px;
    /*border: solid 1px red;*/
}

header ul {
  /*border: solid 1px orange;*/
  overflow: hidden;
  width: 247px;
  margin:0 auto;
}

header li {
    float: left;
    padding: 0 5px;
    margin:1px 5px 0;
    height: 40px;
    line-height: 40px;
    background-color: #d3d3d3;
}

header a {
  color: white;
  font-weight:bold;
  text-decoration: none;
}

h2 {
  color: black;
  background-color:#80ffd0;
  text-align: left;
  line-height: 60px;
  margin:0 0 15px;
  padding-left: 5px;
}

span {
  border-bottom: solid 2px yellow;
  font-weight: bolder;
}

main {
  overflow: hidden;
  width: 90%;
  margin:0 auto;
}
section {
  border: solid 1px red;
  float:left;
  width: 31%;
  margin: 0 1% 10px;
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
  max-height: 400px;
}

.sub-box {
    background-color: yellow;
}

section ul {
  overflow: hidden;
  width: 80px;
  /* border: solid 1px blue; */
  margin: 0 auto;
}

section li {
  position: relative;
  /* overflow: hidden; */
  height: 35px;
  float: left;
  line-height: 35px;
  margin-right: 12px;
}

  section span {
    position: absolute;
    right: -9px;
    font-size: 12px;
  }

  a {
    text-transform: capitalize;
    font-size: 12px;
  }

footer {
  background: black;
  color: white;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
